/* css styles */

.biglist {
  font-size: 1.6rem;
}

.testimonial {
  margin: 0;
  margin-top: 1rex;
  background: antiquewhite;
  border: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  blockquote {
    border-left: .25rem solid #3C88BE;
    font-size: 1rem;
    font-style: italic;
    color: #000000;
  }
  p {
    font-size: 1.2rem;
    color: #5a5a5a;
  }
  img {
    height: fit-content;
    max-height: 400px;
    object-fit: cover;
  }
}
/* 
Allow an element to break out of its frame 
 */
.breakout {
  left: -10%; /* shift the position of the element outside of the frame by 10%*/
  max-width: 120%; /* allow the element to grow to 120% of the frame */
  position: relative;
}

.breakin {
  left: 10%;
  right: 10%;
  max-width: 80%;
  position: relative;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px; /* Optional: Makes the image circular */
  border: 3px solid  #3C88BE;
}

.about-entity {
  padding: 1em;
  background: ghostwhite;
  h2 {
    font-size: 1.8rem;
    border-bottom: unset;
  }
  p,li,a {
    font-size: 1.25rem;
  }
  .subtitle {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.quarto-about-solana .about-entity .about-links {
  padding-bottom: initial
}

div.person {
  background-color: antiquewhite;
}

div.hub ul {
  padding-left: initial;
}
div.hub li {
  list-style: none;
}

div.org {
  --bs-card-border-width: 0;
  --bs-card-bg: #dbeefb;
  padding: 0.5rem;
}

div.data-foot {
  background-color: #fffbea;
}

h5.org {
  color: #000;
}

.card-img-top {
  height: min-intrinsic;
  object-fit: scale-down;
}

img.logo {
  height: 40px;
  object-fit: scale-down;
}

.bordered {
  border: 1px solid #ccc;
  padding: 1rem;
}

.showcase {
  border-bottom: unset;
  background: aqua;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
}

.card-body {
  font-size: 14px
}

.page-buttons {
  margin: auto;
}

.look-here {
  background-color: antiquewhite;
}


:root {
  --mermaid-fg-color--lightest: #fafafa;
  --mermaid-node-bg-color: #dbeefb;
  --mermaid-edge-color: #3c88be;
  --mermaid-label-fg-color: #000000;
}

